.CaseBlock {
    // margin: 10px;
    .CBCover {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .CBTitle {
        padding: 24px;
        zoom: 1;
        height: 50px;
    }
}