{
    "presets": ["env","react","stage-2"],
    "plugins": [
      ["import", { libraryName: "antd", style: "css" }], // `style: true` for less，
      "transform-decorators-legacy"
    ],
    "env": {
      "production": {
          "presets": ["react-optimize"]
      },
      "development": {
          "presets": ["react-hmre"]
      }
  }
    // "env": {
    //   "development": {
    //   "plugins": [
    //     "antd",
    //     ["import", { libraryName: "antd", style: "css" }], // `style: true` for less，
    //     "transform-decorators-legacy",
    //     ["react-transform", {
    //      "transforms": [{
    //        "transform": "react-transform-hmr",
           
    //        "imports": ["react"],
           
    //        "locals": ["module"]
    //      }]
    //    }]]
    //   }
    // }
  }