.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.AppHeader {
  background-color:black;
  color:white;
  text-align:center;
  padding:5px;
}
.AppNav {
  line-height:30px;
  background-color:#eeeeee;
  height:100vh;
  width:100px;
  float:left;
  padding:5px; 
}
.AppContent {
  width:350px;
  float:left;
  padding:10px; 
}
.AppFooter {
  background-color:black;
  color:white;
  clear:both;
  text-align:center;
  padding:5px; 
}
